extends includes/base

block title
  title TCG

block content
  div.container
    h1.display-1
      a(href="/") TCG
    block view
      .main-view
        a#create-game.btn.btn-primary(href="/lobby_create.html")
          | Create Game
